.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background: white;
    padding: 2vw;
    max-width: 70vw;
    max-height: 90vh;
    overflow: auto;
}

.close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal {
        max-width: 90vw;
        padding: 4vw;
    }
}