.leftPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 100%;
    background-color: bisque;
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    background-color: darkkhaki;
}

#mockupMobile {
    width: 40vw;
    height: auto;
}

.subText {
    font-size: 24px;
}

.subText span {
    font-weight: 600;
}

.description {
    padding: 50px 0px 50px 0px;
    font-size: 50px;
    font-weight: 600;
}

.description span {
    font-weight: 600;
    color: var(--color-light)
}