#contestationArbitrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.contestationArbCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-form);
    width: 100%;
}

.contestationArbCard p {
    text-align: center;
    color: var(--color-dark);
    font-weight: 800;
    padding: 10px;
}

.contestationResume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.contestationResume button {
    padding: 10px;
    background-color: var(--color-form);
}

.contestationResume button img {
    transition: 0.3s;
}

button img.extended {
    transform: rotate(43deg);
}

#interventionModifier {
    margin-top: 20px;
    width: 550px;
    max-height: 600px;
    overflow-y: auto;
}

.hoursModifier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 90%
}

#hoursInput {
    width: 50px;
}

.optionsModifier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 90%
}

.option {
    background-color: var(--color-global);
    color: var(--color-dark);
    font-weight: 800;
    padding: 5px;
    width: 150px;
    margin: 5px;
}

#optionsInput {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.option.checked {
    background-color: var(--color-green);
    color: var(--color-global);
}

.dateModifier,
.descriptionModifier,
.adminConclusion,
.adminMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.dateModifier input {
    max-width: 150px;
}