#configManager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#configOptionsList {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#configLister {
    width: 100%;
}

.configCard {
    background-color: var(--color-form);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
}

.configCard p {
    color: var(--color-dark);
    font-weight: 800;
}

#configOptionsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 450px;
}

#configOptionsForm form {
    width: 100%;
}

.UIOptionNameInput,
.UIOptionCoefInput {
    width: 85%;
}