#section_inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_inscription p,
#section_inscription label p {
    margin: 5px;
    text-align: center;
}

#section_inscription form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#section_inscription form .wrapper-vertical {
    width: 500px;
    align-items: center;
}

#section_inscription input {
    padding: 5px;
}

#passwordVerifier input {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #section_inscription form .wrapper-vertical {
        width: 90%;
    }
}