#lostPassword_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lostPassword_section p {
    text-align: center;
    margin: 10px 0;

}

#lostPassword_section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#lostPassword_section form input,
#lostPassword_section form select {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
}

#lostPassword_section form button {
    margin-top: 30px;
}