.tabsLister {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

/**********OPTIONS:PASSWORD**********/

#passwordUpdater {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#passwordUpdater form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%
}

#passwordUpdater input {
    width: 150px;
}

#passwordUpdater form .wrapper-vertical {
    align-items: center;
    width: 100%;
}

#passwordUpdater label {
    text-align: center;
}


/**********OPTIONS:CONTESTATIONS**********/

#contestationLister {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contestationLister ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}


.contestationCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-form);
}

.contestationCard p {
    text-align: center;
    color: var(--color-dark);
    font-weight: 800;
}

.contestationCardResume {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.contestationDate {
    width: 35%;
}

.contester {
    width: 35%;
}

.status {
    width: 25%;
}

.contestationCardResume button {
    width: 5%
}