.section_left,
.section_right {
    width: 50%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/**********NAVIGATION**********/

#pageLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pageLogo a {
    margin: 100px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#section_navigation {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#appNavbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

#appNavbar a {
    background-color: var(--color-dark);
    width: 25%;
    aspect-ratio: 1/1;
    transition: 0.3s;
}

#appNavbar .isactive {
    background-color: var(--color-form);
}

#appNavbar .isactive p {
    color: var(--color-dark);
    font-weight: 700;
}

#appNavbar a img {
    width: 100;
    height: 100;
}

/**********ACCUEIL**********/

#section_accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
}

.page_logo {
    margin: 0 auto;
}

#lineDisplayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#accueil_explications {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#accueil_navigation {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#lineNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#linenav {
    cursor: pointer;
}

#lineSelector {
    display: flex;
    gap: 5px;
}

#menu_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

#menu_list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#menu_list a p {
    width: 150px;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
}

#menu_list a:hover p {
    text-decoration: underline;
}

#menu_list a img {
    transition: 0.3s;
    transform: scale(1);
}

#menu_list a:hover img {
    transform: scale(1.1);
}

/**********CONNEXION**********/

#section_connexion {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginFormSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#selector_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.loginForm_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.loginForm_button:hover {
    background-color: rgba(255, 255, 255, 0.442);
}

.loginForm_button p {
    width: 150px;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
}

#goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 100px;
}

#loginFormSelector form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#formDescription {
    max-width: 450px;
    text-align: center;
}

#loginFormSelector form .UIEmailInput,
#loginFormSelector form .UIPasswordInput {
    background-color: var(--color-global);
    border: none;
    width: 370px;
    height: 50px;
    text-align: center;
}

#loginFormSelector .UIButton {
    background-color: var(--color-light);
    color: var(--color-dark);
    width: 370px;
    height: 50px;
    margin-top: 50px;
}

/**********CONFIG**********/

#section_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#configManager h3 {
    margin-top: 50px;
}

#configManager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#configOptionsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#configLister {
    width: 100%;
}

.configCard {
    background-color: var(--color-form);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
}

.configCard p {
    color: var(--color-dark);
    font-weight: 800;
}

.createNewOption {
    background-color: var(--color-light);
    border: none;
    color: var(--color-dark);
    width: 370px;
    height: 50px;
}

.horizontalWrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.horizontalWrapper label {
    display: flex;
    gap: 10px;
}

.verticalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#configOptionForm .UIOptionNameInput,
#configOptionForm .UIOptionCoefInput {
    background-color: var(--color-global);
    color: black;
    border: none;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.validateNewOption {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
    font-weight: 800;
    width: 250px;
    height: 40px;
}

.quitNewOption {
    background-color: var(--color-green);
    color: var(--color-global);
    border: none;
    font-weight: 300;
    width: 250px;
    height: 40px;
}

/**********MEMBRES**********/

#section_membres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#membersManager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#membersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

#membersList ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#membersList select,
#membersList select option {
    color: var(--color-dark);
    font-weight: 600;
    margin: 20px;
    text-align: center;
}

.memberCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.memberCard p {
    font-size: var(--size-font-mini);
    padding: 10px 0;
}

.memberCardResume {
    display: flex;
    background-color: var(--color-form);
    width: 88%;
}

.memberCardResume p {
    text-align: center;
    color: var(--color-dark);
    font-weight: 800;
}

.memberName {
    width: 30%;
    border-right: 1px solid var(--color-dark);
}

.memberCounter {
    width: 20%;
    border-right: 1px solid var(--color-dark);
}

.memberCounter.red {
    color: rgb(168, 0, 0);
}

.memberMail {
    width: 35%;
    border-right: 1px solid var(--color-dark);
}

.memberPhone {
    width: 15%;
}

.memberCard button {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
}

.memberCard button p {
    padding: 0;
}

#createMemberBtn {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-weight: 800;
    border: none;
    text-align: center;
    height: 40px;
    width: 45%;
    margin-bottom: 10px;
}

#membersManager form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#membersManager form input {
    min-width: 300px;
}

#toKnow {
    text-align: center;
    margin: 20px 0;
}

#quitBtn {
    background-color: var(--color-green);
    color: var(--color-global);
    font-weight: 800;
    border: none;
    text-align: center;
    height: 40px;
    width: 45%;
}

/**********ARBITRAGE**********/

#contestationArbitrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.contestationArbCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-form);
    width: 100%;
}

.contestationArbCard p {
    text-align: center;
    color: var(--color-dark);
    font-weight: 800;
    padding: 10px;
}

.contestationResume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.contestationResume button {
    padding: 10px;
}

.contestationResume button img {
    transition: 0.3s;
}

.contestationResume button img.extended {
    transform: rotate(43deg);
}

@media screen and (min-width: 1650px) {
    h2 {
        font-size: 1vw;
    }
}