.section_left,
.section_right {
    width: 50%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.section_content {
    padding: 20px;
}

#section_accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
}

.page_logo {
    margin: 0 auto;
}

#lineDisplayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#accueil_explications {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#accueil_navigation {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#lineNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#linenav {
    cursor: pointer;
}

#lineSelector {
    display: flex;
    gap: 5px;
}