#section_accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
}

#accueil_explications {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#accueil_navigation {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#lineNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#linenav {
    cursor: pointer;
}

#lineSelector {
    display: flex;
    gap: 5px;
}