.UINavLink {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: 0.3s;
}

.UINavLink.isactive {
    background-color: var(--color-active-link);
}

.UINavLink p {
    transition: text-decoration 0.3s;
}

.UINavLink:hover p {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .UINavLink img {
        width: 20px;
        height: 20px;
    }

    .UINavLink p {
        font-size: 10px;
    }

}