/**********HEADER********************************/
header {
    display: flex;
    justify-content: space-between;
}

#userNav,
#adminNav {
    display: flex;
    flex-direction: column;
}

#userOptions,
#adminOptions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

#userPages,
#adminPages {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

/**********CONNEXION*************************/
#formSelector {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

#connexionSection form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#connexionSection input {
    min-width: 200px;
}

/**********GUILDE****************************/
#membersList {
    width: 75%;
}

#membersList ul {
    width: 100%;
    padding: 0
}

.memberCard {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--font-color-1);
    border-radius: var(--border-radius);
    min-width: 100%;
    margin: 5px;
}

.memberCard p {
    margin: 0;
    padding: 0 0 5px 0;
}

.memberName {
    width: 30%;
    border-right: 2px solid var(--font-color-1);
}

.memberCounter {
    width: 20%;
    border-right: 2px solid var(--font-color-1);
}

.red {
    color: red;
}

.memberMail {
    width: 30%;
    border-right: 2px solid var(--font-color-1);
}

.memberPhone {
    width: 20%;
}

/**********HISTORIQUE************************/
#operationsList {
    width: 75%;
}

#operationsList ul {
    width: 100%;
    padding: 0
}

.operationCard {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--font-color-1);
    border-radius: var(--border-radius);
    min-width: 100%;
    margin: 5px;
    overflow: hidden;
}

.operationInfos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wantToDeleteOperation {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
}

.operationCard p {
    margin: 0;
    padding: 0 0 5px 0;
}

.operationDate {
    width: 18%;
    border-right: 2px solid var(--font-color-1);
}

.operationTransaction {
    width: 65%;
    text-align: start;
}

.operationPoints {
    width: 15%;
    border-left: 2px solid var(--font-color-1);
}

/**********OPERATION*************************/
#operationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
}

.inputWrapper p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: red;
}