/*GLOBALS*/
:root {
    --title-font-size: 64px;
    --desktop-font-size: 24px;
    --desktop-line-height: 30px;
    --laptop-font-size: 2vw;
    --laptop-line-height: 2.2vw;
    --tablet-font-size: 1.5vw;
    --tablet-line-height: 1.6vw;
    --font-color-1: #000000;
    --border-radius: 10px;
}

* {
    font-size: var(--desktop-font-size);
    color: var(--font-color-1);
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #c6c6c6 0%, #eeeeee 80%);
    background: -webkit-linear-gradient(135deg, #c6c6c6 0%, #eeeeee 80%);
    background: -moz-linear-gradient(135deg, #c6c6c6 0%, #eeeeee 80%);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: var(--title-font-size);
    line-height: 0px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    line-height: 30px;
    border: solid 3px var(--font-color-1);
    border-radius: 10px;
    padding: 10px 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
label {
    margin: 10px;
    text-align: center;
    line-height: var(--desktop-line-height);
}

a.isActive {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 1.6vw;
    max-width: 16px;
}

::-moz-scrollbar {
    width: 1.6vw;
    max-width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.8vw;
}

::-moz-scrollbar-thumb {
    border-radius: 0.8vw;
}

/*IMPORT CSS (DESKTOP FIRST)*/
@import url('animations.css');
@import url('desktop.css');
@import url('laptop.css') screen and (max-width: 1024px);
@import url('tablet.css') screen and (max-width: 768px);
@import url('mobile.css') screen and (max-width: 340px);