/*GLOBALS*/
:root {
    --color-global: #ffffff;
    --color-dark: #3B564D;
    --color-light: #BAC7B5;
    --color-green: #748678;
    --size-font: 1vw;
    --size-title: 2vw;
    --size-line-height: 24px;
}

* {
    font-size: var(--size-font);
    color: var(--color-global);
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(/images/backgrounds/background-accueil.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2vw;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_right_background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    background-color: var(--color-dark);
    animation: comeToRightFirst 1s forwards;
}

#section_left_background.isAdmin {
    background-image: url(/images/backgrounds/background-admin.jpg);
    background-size: cover;
}

#section_left_background.isMember {
    background-image: url(/images/backgrounds/background-membre.jpg);
    background-size: cover;
}

#section_left_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 50%;
    height: 100%;
    animation: comeToRightLast 2s;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: var(--size-title);
    text-transform: uppercase;
    margin: 20px 0px;
}

a {
    text-decoration: none;
}

p {
    letter-spacing: 2px;
}


@import url('animations.css');
@import url('./components/UI/UINavLink.css');
@import url('./components/UI/UIButton.css');
@import url('./components/UI/UILink.css');

@import url('./components/header.css');
@import url('./components/main.css');
@import url('./components/footer.css');